.footer {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: center;
}

.footer li {
	margin: 4px 15px;
}

.footer li a {
	color: #fffc;
	text-decoration: none;
	text-shadow: 0 0 5px #000a;
	will-change: color;
}

.footer li a:hover {
	color: white;
}
