table {
  border-collapse: collapse;
  width: 100%;
}

h1{
  padding-top: 70px;
  text-align: center;
}

body{
  position: relative;
  font-family: "Cambria", Times;
}

h2{
  padding-top: 70px;
  text-align: center;
}

button{
  background-color: white !important;
  color: #BD2026 !important;
  border-color: #BD2026 !important;
}
