@media only screen and (max-width: 768px) {
  .navbar {
    font-size: 14px;
    width: 80%;
    left: 10%;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    width: 60%;
    left: 20%;
  }
}

button {
  background-color: white;
  color: #BD2026;
  border-color: #BD2026;
}

/* Override bootstrap */
.btn {
  background-color: white;
  color: #BD2026;
  border-color: #BD2026;
}

table {
  border-collapse: collapse;
}

body{
  font-family: "Cambria", Times;
}

p {
  margin: 0;
  padding: 0;
}

.non-navbar {
  padding-top: 10vh;
}

.navbar {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 5vh;
  top: 5vh;
}

.textbox {
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

.smallbox {
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  text-align: center;
}

.dropDown {
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin: 1vh 0;
}

.dropDown:hover {
  cursor: pointer;
  color: #ED2026;
  border-color: #ED2026;
}

.offerText {
  display: inline-block;
  text-align: center;
}

#newBook {
  display: none;
  padding-bottom: 10vh;
}

li {
  width: 50%;
  float: left;
  color: #BD2026;
  border: 1px solid #BD2026;
}

li:hover:not(.active) {
  color: #ED2026;
  border-color: #ED2026;
  cursor: pointer;
}

li.active {
  color: white;
  border-color: #BD2026;
  background-color: #BD2026;
  cursor: pointer;
}

li a {
  display: block;
  text-align: center;
}
