.single-page {
	overflow-y: hidden;
	height: 100vh;
}

.top-nav {
	display: flex;
	flex-direction: row;
}

.navbar {
	list-style: none;

	padding: 0;
	margin: 20px auto 10px auto;
	height: 50px;
	width: calc(100vw - 100px);
	max-width: 65%;
	
	border-radius: 25px;
	overflow: hidden;
	border: 1px solid var(--theme-color);
}
.navbar li {
  width: 50%;
  height: 100%;
  float: left;
  line-height: 46px;
  
  color: var(--theme-color);
  font-size: 18px;
  font-weight: 600;
  
}

.navbar li:hover:not(.active) {
  color: #ED2026;
  cursor: pointer;
}

.navbar li.active {
  color: white;
  background-color: var(--theme-color);
  cursor: pointer;
}

.navbar li a {
  display: block;
  text-align: center;
}
.floating-btn {
	
	width: 50px;
	height: 50px;
	display: block;
	
	border-radius: 100%;
	text-decoration: none;
	font-size: 20px;
	
	text-align: center;
	line-height: 48px;
	
	background-color: var(--theme-color);
	color: white;
	
	box-shadow: 0 1px 2px #0004;
	transition: 0.1s color ease-out, 0.1s background-color ease-out;
	
	z-index: 1;
}

.floating-btn:hover {
	color: var(--theme-color);
	background-color: white;
}
.back-btn {
	margin-top: 20px;
}
.add-btn {
	position: absolute;
	right: calc(5% + 10px);
	bottom: calc(2% + 20px);
}

/* Offer table */
.omni {
  /*! border-collapse: collapse; */
  /*! table-layout: fixed; */
  height: calc(100vh - 80px);
  display: flex;
  flex-flow: column;
  width: 100%;
}

.omni thead, .omni tr {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.omni thead {
	flex: 0 0 auto;
}

.omni tbody {
	display: block;
	overflow-y: auto;
	flex: 1 1 auto;
}

.omni td {
	/* overflow-wrap: break-word; */
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
}
.omni td:last-child {
	white-space: nowrap;
	overflow-wrap: normal;
}

.btn-small {
	cursor: pointer;
	text-decoration: none;
	
	height: 1.75em;
	width: 1.75em;
	line-height: 1.7em;
	
	margin: 0 1px;
	
	display: inline-block;
	border-radius: 100%;
	text-align: center;
	
	background-color: var(--theme-color);
	color: white !important;
	
	box-shadow: 0 1px 1px #0004;
	transition: 0.1s color ease-out, 0.1s background-color ease-out;
	
}
.btn-small:hover {
	color: var(--theme-color) !important;
	background-color: white;
}

/* Details */
.floating-btn.indent {
	left: 35px;
	top: 20px;
	position: absolute;
}

.box {
  text-align: center;
  width: 80%;
  margin: 2.5vh auto;
  padding: 2.5vh;
}
.box h2 {
	margin: 0;
}
.box .spacer {
	margin: 0.1rem auto 0.5rem auto;
	height: 2px;
	border-radius: 2px;
	background-color: var(--theme-color);
	width: 50%;
}
.box .propname {
	font-weight: 600;
}

/* Add offer */
#newOffer {
	margin-top: 20px;
}

.book-search {
	padding: 25px;
	margin: 10px;
	background-color: #f5f5f5;
	border: 1px solid #ced4da;
	border-radius: var(--input-rad);
}
.book-search h4 {
	margin-bottom: 0.8rem;
}
.book-search .form-group {
	display: flex;
}
.book-search .form-group .btn {
	margin-left: 10px;
	background-color: white;
	border: 1px solid #ced4da
}
/* Enable search text */
.book-search .form-group .btn:after {
	content: "Search";
	display: inline;
}
/* Disable the icon */
.book-search .form-group .btn i {
	display: none;
}

.form-control:focus {
	box-shadow: inset 0 0 4px rgba(0,123,255,.25);
}
.search-back {
	cursor: pointer;
	position: absolute;
	transform: translateX(-17px) translateY(-22px);
	display: inline-block;
}
#searchState2 {
	overflow: auto;
}
.add-book {
	float: right;
	background-color: white;
	display: inline-block;
	cursor: pointer;
	padding: 6px 12px;
	border: 1px solid #ced4da;
	border-radius: var(--input-rad);
}
#searchState3 .form-group {
	justify-content: space-between;
	align-items: center;
}
#searchState3 .form-group label {
	font-weight: bold;
}
#searchState3 .form-group input, #searchState3 .form-group select{
	width: calc(100% - 9em);
	border: 1px solid #ced4da;
	border-radius: var(--input-rad);
	padding: 6px 12px;
}
#searchState3 button {
	float: right;
	background-color: white;
	display: inline-block;
	cursor: pointer;
	padding: 6px 12px;
	border: 1px solid #ced4da;
	border-radius: var(--input-rad);
}
#searchState3 #bookForm {
	overflow: auto;
}
#searchState4 p {
	margin-bottom: 0.5rem;
}
#searchState4 p:last-child {
	margin-bottom: 0;
}

#newEntry button {
	float: right;
	background-color: white;
	display: inline-block;
	cursor: pointer;
	padding: 6px 12px;
	border: 1px solid #ced4da;
	border-radius: var(--input-rad);
}
#newEntry #inputForm {
	overflow: auto;
	margin-bottom: 10px;
}
.form-control {
	border-radius: var(--input-rad);
}
@media screen and (max-width: 768px), screen and (max-aspect-ratio: 3/2) {

	#formText {
		font-size: calc(3vw + 0.5rem);
	}
	.book-search {
		margin: 10px 0;
		padding: 20px;
	}
	.book-search .form-group .btn {
		margin-left: 3px;
		border-radius: 6px;
	}
	/* Disable search text */
	.book-search .form-group .btn:after {
		display: none;
	}
	.book-search .form-group .btn i {
		display: inline;
	}
	
	#searchState3 .form-group input, #searchState3 .form-group select{
		width: 100%;
	}
	#searchState3 .form-group {
		flex-direction: column;
		align-items: flex-start;
	}
}