.container-fluid{
  padding: 250px 0;
  height: 100%;
  background-color: #FEBABA;
  margin:auto;
  text-align: center;
}

h1{
  font-family: "Georgia", Times, serif !important;
  font-size: 50px !important;
}

.sell-btn{
  background-color: #BD2026;
  margin: 50px;
  color: white !important
}

.buy-btn{
  background-color: white;
  margin: 50px;
  color: #BD2026 !important
}
