
.welcome-image {
	background-repeat: no-repeat;
	background-image: url("welcome_background.jpg");
	background-size: 100%;
}

.welcome-cta {
	padding-top: 10%;
}

.cta-text {
  font-family: "Georgia", Times, serif !important;
  font-size: 100px !important;
  font-style: oblique;
  margin-left: 50px;
  margin-bottom: 0px;
  color: white;
}

.sell-btn {
  background-color: #BD2026;
  margin: 40px;
  color: white !important
}

.sell-btn:hover {
    background-color: #f44336;
    color: white;
}

.buy-btn {
  background-color: white;
  margin: 50px;
  color: #BD2026 !important
}

.buy-btn:hover {
    background-color: #e7e7e7;
    color: #BD2026;
}

.welcome-image .footer li a {
	color: white;
	text-shadow: 0 0 5px #000a;
	opacity: 0.8;
}