.container-fluid{
  padding: 10% 0;
  background-size: 300px 300px;
  background-repeat: no-repeat;
  margin:auto;
  text-align: inherit;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

h1{
  font-family: "Georgia", Times, serif !important;
  font-size: 100px !important;
  font-style: oblique;
  margin-left: 50px;
  margin-bottom: 0px;
}

h3{
  font-family:inherit;
  font-size: 30px !important;
  font-style:normal;
  margin-left: 50px;
  margin-bottom: 0px;
}

h7{
  font-family:monospace;
  font-size: 10px !important;
  font-style:normal;
  margin-left: 600px
}

.sell-btn{
  background-color: #BD2026;
  margin: 40px;
  color: white !important
}

.sell-btn:hover {
    background-color: #f44336;
    color: white;
}

.buy-btn{
  background-color: white;
  margin: 50px;
  color: #BD2026 !important
}

.buy-btn:hover {
    background-color: #e7e7e7;
    color: #BD2026;
}
